<div class='logo'></div>
<ng-container >
    <div class='pin-input' *ngIf='!(isSignedIn$ | async)'>
        <div class='message'>
            <span *ngIf='!(hasFailedAuth$ | async)' >
                {{ 'signIn.enterPin' | translate }}
            </span>
        </div>
        <input
            readonly='true'
            class='textbox pin-textbox'
            [ngClass]='{"error": (hasFailedAuth$ | async)}'
            type='number'
            [value]='pin'
            placeholder='PIN'/>
            <div class='message warn'>
                <span *ngIf='hasFailedAuth$ | async'>
                    {{ 'signIn.incorrectPin' | translate }}
                </span>
            </div>
        <mnt-keypad class='keypad' (keyPress)='onKeyPressed($event)'></mnt-keypad>
        <button class='button primary sign-in' (click)='onSignInClick()'>{{ 'signIn.signIn' | translate }}</button>
    </div>
</ng-container>