.keypad {
  * {
    touch-action: manipulation;
  }
  width: 50%;
  margin: auto;
  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;

    button {
      width: 33%;
      margin: 0.1em;
      padding: 0;
    }

    &.last {

      button {
        width: 33%;
        margin: auto;
      }
    }
  }
}
