@font-face {
  font-family: 'Google Sans Bold';
  src: url('assets/fonts/GoogleSans-Bold.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans Medium';
  src: url('assets/fonts/GoogleSans-Bold.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans Regular';
  src: url('assets/fonts/GoogleSans-Regular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
