.keypad {
  width: 50%;
  margin: auto;
  .row {
    display: flex;
    justify-content: space-between;

    &.last {
      justify-content: space-around;
    }

    button {
      flex: 0.3;
      margin: 0.2em;
    }
  }
}
