<input type='text' disabled>
<div class='keypad'>
    <div class='row'>
        <button class='button primary-transparent'>1</button>
        <button class='button primary-transparent'>2</button>
        <button class='button primary-transparent'>3</button>
    </div>
    <div class='row'>
        <button class='button primary-transparent'>4</button>
        <button class='button primary-transparent'>5</button>
        <button class='button primary-transparent'>6</button>
    </div>
    <div class='row'>
        <button class='button primary-transparent'>7</button>
        <button class='button primary-transparent'>8</button>
        <button class='button primary-transparent'>9</button>
    </div>
    <div class='row'>
        <button class='button primary-transparent'>0</button>
    </div>
</div>