@import 'theme/colors';
@import 'theme/fonts';
@import 'theme/elements';

* {
  box-sizing: border-box;
  font-family: 'Google Sans Regular', sans-serif;
  color: $text-color;
}

h1 {
  font-family: 'Google Sans Medium', sans-serif;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: $background-color;
}
