.main-content {
    font-size: 1.25em;
    margin: 0.75em;
    text-align: center;

    .amount {
        font-size: 1.5em;
    }

    .title {
        font-size: 3em;
    }

    .withdrawal {
        .button {
            margin: 0.1em;
        }

        .amount {
            font-size: 1em;
        }
    }
}
