<mnt-header (signOut)='onSignOut()'></mnt-header>
<div class='main-content'>
    <h1 class='title'>{{ 'home.greeting' | translate }}, Michael!</h1>
    {{ 'home.currentBalance' | translate }}<span class='amount'> {{ currentBalance$ | async | currency:'GBP' }}</span>.
    <br/>
    {{ 'home.youAre' | translate }}
    <span *ngIf='currentBalance$ | async; else broke'>
        <span class='bold'> {{ 'home.minted' | translate }}</span>! 🤑
    </span>
    <ng-template #broke>
        <span>{{ 'home.broke' | translate }}! 😔</span>
    </ng-template>
    <ng-container *ngIf='overdraft$ | async as overdraft'>
        {{ 'home.currentOverdraft' | translate }} {{overdraft | currency:'GBP'}}
    </ng-container>
    <br/><br/>
    <div *ngIf='(overdraft$ | async) < 100 && !(insufficientAtmFunds$ | async)'>
        <div *ngIf='(currentBalance$ | async) > 0; else overdraft'>
            <span>{{ 'home.howMuch' | translate }}</span>
            <ng-template [ngTemplateOutlet]='withdrawalControls'></ng-template>
        </div>
        <ng-template #overdraft>
            <span *ngIf='(overdraft$ | async) < 100'>{{ 'home.overdraft' | translate }}</span>
            <ng-template [ngTemplateOutlet]='withdrawalControls'></ng-template>
        </ng-template>
    </div>
    <ng-container *ngIf='insufficientAtmFunds$ | async'>
        <span class='warn'>
            {{ 'home.errors.insufficientAtmFunds.message' | translate }} 💸
            <br/>
            {{ 'home.errors.insufficientAtmFunds.action' | translate }}
        </span>
    </ng-container>
    <ng-container *ngIf='insufficientUserFunds$ | async'>
        <span class='warn'>
                {{ 'home.errors.insufficientUserFunds.message' | translate }} 💸
            <br/>
            {{ 'home.errors.insufficientUserFunds.action' | translate }}
        </span>
    </ng-container>
    <mnt-last-withdrawal [withdrawal]='lastWithdrawal$ | async'></mnt-last-withdrawal>
</div>

<ng-template #withdrawalControls>
    <div class='withdrawal'>
        <button class='button primary' (click)='withdraw(20)'>
            £20
        </button>
        <button class='button primary' (click)='withdraw(50)'>
            £50
        </button>
        <button class='button primary' (click)='withdraw(100)'>
            £100
        </button>
        <br/><br/>
        {{ 'home.otherAmount' | translate }}
        <br/><br/>
        <input class='textbox amount' type='number' placeholder='Enter amount' #amount/>
        <br/><br/>
        <button class='button primary' (click)='onWithdrawClicked(amount.value)'>{{ 'home.withdraw' | translate }}</button>
        <br/><br/>
        <ng-container *ngIf='invalidAmount$ | async'>
            <span class='warn'>
                    {{ 'home.errors.invalidAmount.message' | translate }} 😬
                <br/>
                {{ 'home.errors.invalidAmount.action' | translate }}
            </span>
        </ng-container>
    </div>
</ng-template>
