<mnt-header (signOut)='onSignOut()'></mnt-header>
<div class='main-content'>
    <h1 class='title'>Welcome, Michael!</h1>
    You currently have <span class='amount'>{{ currentBalance$ | async | currency:'GBP' }}</span> in your account.
    <br/>
    You are officially
    <span *ngIf='currentBalance$ | async; else broke'>
        <span class='bold'> mint-ed</span>! 🤑
    </span>
    <ng-template #broke>
        <span>broke! 😔</span>
    </ng-template>
    <ng-container *ngIf='overdraft$ | async as overdraft'>
        You have an overdraft of {{overdraft | currency:'GBP'}}
    </ng-container>
    <br/><br/>
    <div *ngIf='(overdraft$ | async) < 100 && !(insufficientAtmFunds$ | async)'>
        <div *ngIf='(currentBalance$ | async) > 0; else overdraft'>
            <span>How much would you like to withdraw?</span>
            <ng-template [ngTemplateOutlet]='withdrawalControls'></ng-template>
        </div>
        <ng-template #overdraft>
            <span *ngIf='(overdraft$ | async) < 100'>Would you like an overdraft?</span>
            <ng-template [ngTemplateOutlet]='withdrawalControls'></ng-template>
        </ng-template>
    </div>
    <div *ngIf='hasWithdrawalError$ | async'>
        <ng-container *ngIf='insufficientAtmFunds$ | async'>
            <span class='warn'>
                Oh no! This ATM has run out of funds. 💸
                <br/>
                Please check back later or use one of our other ATMs.
            </span>
        </ng-container>
        <ng-container *ngIf='insufficientUserFunds$ | async'>
            <span class='warn'>
                Oh no! You have reached the maximum allowed overdraft. 💸
                <br/>
                Please transfer in some funds and try again.
            </span>
        </ng-container>
    </div>
</div>

<ng-template #withdrawalControls>
    <div class='withdrawal'>
        <button class='button primary' (click)='withdraw(20)'>
            £20
        </button>
        <button class='button primary' (click)='withdraw(50)'>
            £50
        </button>
        <button class='button primary' (click)='withdraw(100)'>
            £100
        </button>
        <br/><br/>
        Or would you like to withdraw another amount?
        <br/><br/>
        <input class='textbox amount' type='number' placeholder='Enter amount' #amount/>
        <br/><br/>
        <button class='button primary' (click)='onWithdrawClicked(amount.value)'>Withdraw</button>
        <br/><br/>
        <ng-container *ngIf='invalidAmount$ | async'>
            <span class='warn'>
                Oh no! That amount is invalid. 😬
                <br/>
                Please try again with multiples of 5, 10 or 20.
            </span>
        </ng-container>
    </div>
</ng-template>
